@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  overflow-x: hidden;
}

.text-heading {
  font-family: 'Big Shoulders Display', cursive ;
}

.text-body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

button:hover > a {
  background-color: #D5966C;
}

button:hover > i {
  background-color: #151515;
}